@(message: String)

<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
    </head>
    <body>
    
    <strong style="color:red">@message</strong>
    
    <p>
        It seems that you are having problem logging into our system. Do check if these has been enabled.
        <br> 1. Cookie settings are enabled within your browser.
        <br> 2. Javascript settings.
        <br> 3. You have a valid accound in google or facebook.
        
    <p>
        I do apologize for the simple screen, but this is the best we can provide at the moment.
        
    <p>
    	<a href="javascript:window.history.back()">Return to previous page</a>
    <br>
    	<a href="http://www.jomjaring.com">Return to Main page</a>
    </body>
</html>
