@(message: String)
<!DOCTYPE html>
<html>
 <head>
 <title>Help</title>
 </head>
 <body>
 
 <strong style="color:red">@message</strong>
 
 <p>
 It seems that you are having problem logging into our system. Do check if these has been enabled.
 <br> 1. Cookie settings are enabled within your browser.
 <br> 2. Javascript settings.
 <br> 3. You have a valid account in google or facebook?
 <br> 4. Honestly, did you cancel our facebook/google authority?
 
 <p>
 I do apologize for the simple screen, but this is the best we can provide at the moment.
 
 <p>
 <a href="//login.jomjaring.com">Return to previous page</a>
 <br>
 <a href="//www.jomjaring.com">Return to Main page</a>
 </body>
</html>
